/* * {
    box-sizing: border-box;
}

body {
    background-color: #2f485c;
}

.grid {
    margin: 0 auto;
    border: 10px solid white;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
}

.grid--square {
    border: 1px solid black;
    cursor: pointer;
    width: 100px;
    height: 100px;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* { box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

body {
    background: #4e91f8;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
}

header > h1 {
    margin: 0; 
    font-size: 50px;
  
}

header {
    height: 10vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}



.container {
    margin-top: 3em;
    background: #4e91f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}



.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 5em;
    padding: 40px;
    color: #000000;
    flex: 1 1 50%;
    max-width: 700px;
    min-width: 600px;
}

.grid--square {
    font-size: 2rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    min-height: 4em;
    min-width: 4em;
    cursor: pointer;
    transition: 0.3s all;
}

.grid--square:hover {
    transform: scale(1.1);
    background-color: rgb(208, 207, 207);
   
}

.info-container {
    width: 100%;
    margin-top: 2em;
    display: flex;
    gap: 2em;
    font-size: 20px;
}

.info-sub-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 1em;
    flex: 1 1 25%;
  
}

.sidepanel-left, .sidepanel-right {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 30px;
    font-size: 25px;
    flex: 1 0 30%;
    border-radius: 2em;
    padding: 1em;
}

.sidepanel-left {
    display: flex;
    justify-content: center;;
    align-items: center;
    max-width: 400px;
}

.sidepanel-left > h2 {
    margin-right: 30px;
    font-size: 35px;
}

.sidepanel-left h3 {
    font-size: 35px;
}

.player-active, .winline-active {
    color: #f74242;
}

.player-marker {
    color: #ffffff;
    margin-left: 25px;
}






