/* * {
    box-sizing: border-box;
}

body {
    background-color: #2f485c;
}

.grid {
    margin: 0 auto;
    border: 10px solid white;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
}

.grid--square {
    border: 1px solid black;
    cursor: pointer;
    width: 100px;
    height: 100px;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* { box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

/* @media (min-width: 1600px) {
    html {
        font-size: 20px;
    } 
 }  */

/* @media (min-width: 2000px) {
    html {
        font-size: 100px;
    }
} */

body {
    margin: 0;
    background: rgb(78,145,248);
    background: linear-gradient(180deg, rgb(94, 156, 248) 0%, rgb(1, 86, 214) 100%);
}

h1, h2, h3, p {
    margin: 0;
}

header > h1 {
    margin: 0; 
    font-size: 50px;
}

header {
    height: 10vh;
    background-color: #021b4c;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer {
    height: 10vh;
    background-color: #021b4c;  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-top, .container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-top {
    height: 70vh;
    padding: 10em;
}

.container-bottom {
    height: 10vh;
    padding-bottom: 70px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 5em;
    padding: 40px;
    color: #000000;
    flex: 1 1 50%;
    max-width: 600px;
    min-width: 500px;
  
}

.grid--square {
    font-size: 2rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    min-height: 4em;
    min-width: 4em;
  
    cursor: pointer;
    transition: 0.3s all;
}

.grid--square:hover {
    transform: scale(1.1);
    background-color: rgb(208, 207, 207); 
}

.greyed {
    background-color: rgb(208, 207, 207); 
}

.greyed:hover {
    transform: scale(1.0);
    cursor: default;
}

.info-container {
    width: 100%;
    margin-top: 2em;
    display: flex;
    gap: 2em;
    font-size: 20px;
}

.info-sub-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 1em;
    flex: 1 1 25%;
}

.sidepanel-left, .sidepanel-right, .messagepanel {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 30px;
    font-size: 25px;
    flex: 1 0 30%;
    border-radius: 2em;
    padding: 1em;
}

.sidepanel-left {
    display: flex;
    justify-content: center;;
    align-items: center;
    min-width: 400px;
    max-width: 400px;
}

.sidepanel-left h2 {
    margin-right: 30px;
    font-size: 32px;
}

.sidepanel-left h3 {
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidepanel-right {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidepanel-right p {
    padding: 10px;
}

.sidepanel-right span {
    margin-left: 15px;
}

.sidepanel-right .small {
    font-size: 15px;
}

.player-active, .accent {
    color: #f74242;
}

.accent {
    font-weight: bold;
}

.winline-active {
    background-color: #f74242;
}

.player-marker {
    color: #ffffff;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.settings-container {
    display: flex;
    align-items: center;
}

.settings-container p {
    font-size: 20px;
    padding-right: 1em;
}

.settings-input-number {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 0px;
    border-radius: 15px;
}

.settings-input-button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: white;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s all;
    margin-right: 50px;
}

.settings-input-button:hover {
    transform: scale(1.05);
    background-color: rgb(208, 207, 207);
}


.messagepanel {
   max-width: 500px;
   text-align: center;
   cursor: pointer;
   transition: all 2s;
   line-height: 1.5em;
}

.messagepanel:hover {
    transform: scale(1.2);
}

.bold {
    font-weight: bold;
}

.settings-input-marker {
    font-size: 25px;
    
   width: 3em;
    border-radius: 1em;
    margin-right: 30px;
    text-align: center;
}












